.preview {
    
    &__hero {
        width: 100%;
        height: 280px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.image-hero {
    width: 100%;
    height: auto;
}

.blogcard {
    height: 330px;
    overflow: hidden;

    &__holder {
        height: 100%; 
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__image {

    }

    &__overview {
        overflow: hidden; 
        height: 100px;
    }
}

.comments {
    max-height: 100vh;
    overflow-y: scroll;

    &__option {
        font-size: 16px;
    }

    &__date {
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
    }
}

.emoji {
    font-size: 25px;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}