.game {

    &__screen {
        width: 800px;
        height: 451px;
    }

    &__social {
        width: 400px;
    }

    &__chat {
        height: 371px;
        overflow-y: scroll;
    }

    &__header {
        height: 40px;
    }

    &__user {
        font-size: 18px;
        margin-bottom: 4px;
    }
}

.gamecard {
    height: 330px;
    overflow: hidden;

    &__holder {
        height: 100%; 
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    &__overview {
        overflow: hidden; 
        height: 100px;
    }
}