footer.nav.navbar-expand-lg.navbar-dark.bg-first.mt-auto
    a.nav-link.text-white.mainnav__link(href='/') Tabletop Lobby

script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js")
script(src="/socket.io/socket.io.js")
script.
    const socket = io();
script(src="/js/app.js")