include ../templates/head

.content.p-5.d-flex.flex-column

    form#login-form.bg-accent.border.border-accent.authform.m-auto
        .mt-3
            h1.text-center.text-white Login
        .bg-white.p-5
            .form-group
                label Email
                input.form-control.border-accent#email(name='email' type='text')
                span.invalid-feedback#feedback__email
            .form-group
                label Password
                input.form-control.border-accent#password(name='password' type='password')
                span
                    i.fas.fa-eye.password-changer#show-password
                    i.fas.fa-eye-slash.password-changer#hide-password(hidden='true')
                span.invalid-feedback#feedback__password
            .d-flex.align-items-end
                input.btn.btn-accent(type='submit' value='Login')
                a.login__btn.ml-3(href='/login/forgot')
                    em Forgot Password?
                a.login__btn.ml-auto(href='/login/signup')
                    em New User?

include ../templates/foot

script(src='/js/login/login.js')