include ../templates/head

.content.p-5.d-flex.flex-column
    h1 Games

    #gamesList
        .d-flex.mb-5.gamecard
            .p-4.border.border-accent.bg-extra.container
                h2 Tic-Tac-Toe
                p
                    em
                        div Created by: Ty Streets
                p.gamecard__overview Multiplayer tic-tac-toe.
                a.btn.btn-accent.read-more(data-id='0' type='button' href='/games/tic-tac-toe') Play Now
            div()
            div.d-md-block.d-none.container.gamecard__holder(style='background-image: url("/images/tic-tac-toe.png")')


include ../templates/foot